/* 라이트 모드 기본 */
:root {
  --color-bg: #f5f5f5;
  --color-bg-trans: #f5f5f550;
  --color-soft: #11111110;
  --color-text: #111;
  --color-card: #fff;
  --color-card50: #ffffff60;
  --color-front: rgba(0, 0, 0, 0.3);
  --color-back: #bcbcbc;
  --color-point: red;
  --shadow-soft: rgba(0, 0, 0, 0.15);
  --c-btn: #000;
}

/* 다크 모드 */
[data-theme="dark"] {
  --color-bg: #242424;
  --color-bg-trans: #24242460;
  --color-soft: #f5f5f510;
  --color-text: #f5f5f5;
  --color-card: #313131;
  --color-card50: #31313150;
  --color-front: rgba(255, 255, 255, 0.3);
  --color-back: #f5f5f5;
  --color-point: red;
  --shadow-soft: rgba(255, 255, 255, 0.15);
  --c-btn: #fff;
}
