@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/*html5 새로 추가된 요소들은 블록요소로 인식되지 않음. 이 요소들은 대부분 블록요소일 경우가 대부분이기때문에 한꺼번에 선언함.*/
a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

img,
fieldset,
iframe {
  border: 0;
}

input {
  vertical-align: middle;
}

.skip {
  font-size: 0;
  width: 0;
  height: 0;
  line-height: 0;
  position: absolute;
  left: -9999px;
}

.cf:after {
  content: "";
  display: block;
  clear: both;
}

@keyframes floating-emoji {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: var(--float-distance);
  }
  100% {
    margin-top: 0;
  }
}
a,
p,
h1,
h2,
h3,
li,
dt,
dd {
  color: var(--color-text);
}

#header {
  width: 90%;
  margin: 0 auto;
}
#header .header-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
#header .header-box .tag {
  font-size: 1.1rem;
  display: inline-block;
}

.menu {
  width: 100%;
  z-index: 10;
}
.menu .menu-box {
  width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: end;
  gap: 1rem;
  font-size: 1rem;
}
@media (min-width: 1200px) {
  .menu .menu-box {
    gap: 1.5rem;
  }
}
.menu .menu-box .menu-title {
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.menu .menu-box .menu-title:hover {
  font-weight: 900;
}

.sub-box {
  position: absolute;
  color: inherit;
  left: -2rem;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in;
  background: var(--color-card);
  padding: 1.5rem 2rem 1.5rem 2rem;
  margin-top: 1rem;
  border-radius: 20px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1254901961);
}
.sub-box.show {
  opacity: 1;
  visibility: visible;
}
.sub-box .sub-title {
  font-weight: 700;
  transition: all 0.2s ease-in;
  margin-bottom: 2rem;
}
.sub-box .sub-title:hover {
  transform: scale(1.05);
  color: black;
}
.sub-box .sub-title:last-child {
  margin-bottom: 0;
}

.sub-sub {
  margin-top: 1rem;
  font-size: 1rem;
}
.sub-sub .sub-sub-a {
  margin-bottom: 0.3rem;
  font-weight: 500;
}
.sub-sub .sub-sub-a > a:hover {
  font-weight: 700;
  color: red;
}

.modeBtn {
  border: none;
  background: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: -10px;
  padding-top: 5px;
}

.modeBtn > img {
  width: 25px;
  height: 25px;
}

@font-face {
  font-family: "Font01";
  src: url("../fonts/Amelina-Script.woff2") format("woff2"), url("../fonts/Amelina-Script.woff") format("woff"), url("../fonts/Amelina-Script.ttf") format("truetype");
}
@font-face {
  font-family: "Font02";
  src: url("../fonts/Fair-Prosper.woff2") format("woff2"), url("../fonts/Fair-Prosper.woff") format("woff"), url("../fonts/Fair-Prosper.ttf") format("truetype");
}
body {
  background: var(--color-bg);
  overflow-x: hidden;
}

.hero-container {
  width: 100%;
  height: calc(100vh - 7rem);
}

/* 히어로 영역 */
.hero {
  position: relative;
  width: 70vw;
  aspect-ratio: 16/11;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 45%;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .hero {
    width: 50vw;
    aspect-ratio: 16/10;
  }
}

/* 앞쪽 이미지 (원근감) */
.hero .front {
  position: absolute;
  width: 100%;
  aspect-ratio: 16/8;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
@media (min-width: 1200px) {
  .hero .front {
    aspect-ratio: 16/7;
  }
}

.hero .front::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 90%;
  bottom: 0;
  background: var(--color-front);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  transform-origin: bottom center;
  transform: perspective(700px) rotateX(-15deg);
  z-index: 1;
  box-shadow: 1px 1px 20px rgba(50, 50, 50, 0.2);
}
@media (min-width: 1200px) {
  .hero .front::after {
    height: 90%;
    transform: perspective(800px) rotateX(-10deg);
  }
}

/* 텍스트 박스 */
.profile-txt-box {
  position: absolute;
  width: 90%;
  aspect-ratio: 7/4.2;
  background: #f5f5f5;
  left: 50%;
  transform: translateX(-50%);
  bottom: 6%;
  z-index: 2;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  transform-style: preserve-3d;
  transform-origin: center center;
}
@media (min-width: 1200px) {
  .profile-txt-box {
    width: 90%;
    aspect-ratio: 7.5/4;
    bottom: 7.5%;
  }
}

.hero.active .profile-txt-box {
  transform: translateX(-50%) translateY(-50%) rotate(5deg);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}

.hero.active .profile-txt-box::after {
  content: "↓click!";
  color: red;
  position: absolute;
  top: -30px;
  right: 0;
}

.hero.active .card-face.back2 {
  visibility: hidden;
}

.hero.active .card-face.front2 {
  visibility: visible;
}

.profile-txt-box.top {
  transform: translateZ(10px) translateX(-50%) scale(1.5);
  z-index: 10;
}

.profile-txt-box.top .card-face.front2 {
  visibility: hidden;
}

.profile-txt-box.top .card-face.back2 {
  visibility: visible;
}

/* PROFILE 텍스트 */
.profile {
  position: absolute;
  text-align: center;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16.5vw;
  line-height: 1;
  white-space: nowrap;
  color: #111;
}
@media (min-width: 1200px) {
  .profile {
    top: -5px;
    font-size: 12vw;
  }
}

.profile::after {
  pointer-events: none;
  position: absolute;
  content: "💛";
  display: block;
  width: 100%;
  left: -62%;
  top: -30%;
  bottom: 0;
  transform: rotate(-15deg);
  text-shadow: 1px 1px 30px rgba(0, 0, 0, 0.062745098);
  --float-distance: -15px;
  animation: floating-emoji 2.7s ease-in-out infinite;
  transition: transform 0.6s ease;
}
@media (min-width: 1200px) {
  .profile::after {
    font-size: 12vw;
  }
}

.profile::before {
  pointer-events: none;
  position: absolute;
  content: "💥";
  display: block;
  width: 100%;
  right: -65%;
  top: 50%;
  bottom: 0;
  transform: rotate(-15deg);
  text-shadow: 1px 1px 30px rgba(0, 0, 0, 0.062745098);
  --float-distance: -15px;
  animation: floating-emoji 2.8s ease-in-out infinite;
  transition: transform 0.6s ease;
}

.hero.active .profile::after {
  animation: none;
  transform: translateX(28%) translateY(75%) rotate(-15deg);
  transition: transform 0.6s ease;
}

.hero.active .profile::before {
  animation: none;
  transform: translateX(-35%) rotate(-15deg);
  transition: transform 0.6s ease;
}

.profile-me {
  font-family: "Font02", cursive;
  position: absolute;
  left: 50%;
  transform: translateX(-60%);
  padding-top: 1.5rem;
}
@media (min-width: 1200px) {
  .profile-me {
    padding-top: 2rem;
  }
}

.card-face.back2 {
  visibility: hidden;
}

.card-face.back2 {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.profile-back-box {
  padding-top: 1.5rem;
}

.profile-back-title {
  display: flex;
  flex-direction: column;
}

.profile-back {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #242424;
}

.profile-me-back {
  font-size: 3rem;
}

.profile-back-more {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: -2rem;
}

.profile-me-back-more {
  font-size: 3rem;
  text-shadow: 1px 2px 5px rgba(49, 49, 49, 0.1254901961);
}

.info-container {
  margin-top: 8rem;
}

.information-box {
  padding: 1rem 0;
}

.information {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.info-title {
  font-size: 0.6rem;
  padding-left: 0.1rem;
  color: #f5f5f5;
  background: #111;
}

.info-title.t {
  margin-bottom: -0.2rem;
}

.info-d {
  font-size: 0.8rem;
}

.use-skils {
  display: flex;
  flex-direction: column;
}

.use-skils-box {
  display: flex;
  justify-content: space-between;
}

/* 뒷배경 이미지 */
.hero .back {
  opacity: 0.7;
}

.hero .back::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 92%;
  bottom: 0;
  background: var(--color-back);
  border-radius: 0 10px 10px 10px;
  z-index: 1;
}
@media (min-width: 1200px) {
  .hero .back::after {
    height: 92%;
  }
}

.hero .back::before {
  content: "";
  position: absolute;
  width: 45%;
  height: 15%;
  top: 0;
  background: var(--color-back);
  border-radius: 10px 50px 0 0;
  z-index: 1;
}
@media (min-width: 1200px) {
  .hero .back::before {
    height: 10%;
    border-radius: 10px 100px 0 0;
  }
}

/*# sourceMappingURL=style.css.map */
