@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/*html5 새로 추가된 요소들은 블록요소로 인식되지 않음. 이 요소들은 대부분 블록요소일 경우가 대부분이기때문에 한꺼번에 선언함.*/
a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

img,
fieldset,
iframe {
  border: 0;
}

input {
  vertical-align: middle;
}

.skip {
  font-size: 0;
  width: 0;
  height: 0;
  line-height: 0;
  position: absolute;
  left: -9999px;
}

.cf:after {
  content: "";
  display: block;
  clear: both;
}

#header {
  width: 90%;
  margin: 0 auto;
}
#header .header-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
#header .header-box .tag {
  display: inline-block;
}

.menu {
  width: 100%;
}
.menu .menu-box {
  width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: end;
  gap: 2rem;
  font-size: 1.5rem;
}
.menu .menu-box .menu-title {
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.menu .menu-box .menu-title:hover {
  font-weight: 900;
}

.sub-box {
  position: absolute;
  color: inherit;
  padding-top: 2rem;
  white-space: nowrap;
  opacity: 1;
}
.sub-box.show {
  opacity: 1;
}
.sub-box .sub-title {
  font-weight: 700;
  transition: all 0.2s ease-in;
  margin-bottom: 2rem;
}
.sub-box .sub-title:hover {
  transform: scale(1.1);
  color: black;
}

.sub-sub {
  margin-top: 1rem;
  font-size: 1rem;
}
.sub-sub .sub-sub-a {
  margin-bottom: 0.3rem;
  font-weight: 500;
}
.sub-sub .sub-sub-a > a:hover {
  font-weight: 700;
  color: red;
}

.hero-container {
  width: 100%;
  height: calc(100vh - 8.5rem);
}

/* 히어로 영역 */
.hero {
  position: relative;
  width: 70vw;
  aspect-ratio: 16/13;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* 앞쪽 이미지 (원근감) */
.hero .front {
  position: absolute;
  width: 100%;
  aspect-ratio: 16/10;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.hero .front::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: rgba(50, 50, 50, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  transform-origin: bottom center;
  transform: perspective(500px) rotateX(-5deg);
  z-index: 1;
  box-shadow: 1px 1px 20px rgba(50, 50, 50, 0.2);
}

/* 텍스트 박스 */
.hero .profile-txt-box {
  position: absolute;
  width: 90%;
  height: 85%;
  background: #fff;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
  cursor: pointer;
  z-index: 2;
}

.profile-txt-box .profile {
  width: 100%;
  position: absolute;
  top: -20px;
  text-align: center;
  display: inline-block;
  font-size: 4.5rem;
  font-weight: 500;
}

/* 뒷배경 이미지 */
.hero .back {
  opacity: 0.2;
}

.hero .back::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 95%;
  bottom: 0;
  background: rgb(50, 50, 50);
  border-radius: 0 10px 10px 10px;
  z-index: 1;
}

.hero .back::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 6%;
  top: 0;
  background: rgb(50, 50, 50);
  border-radius: 10px 10px 0 0;
  z-index: 1;
}

/*# sourceMappingURL=style.css.map */
