@use "mixin" as m;

// 헤더
#header {
  @include m.layout;

  .header-box {
    @include m.flex-center;
    margin: 2rem 0;
    .tag {
      display: inline-block;
    }
  }
}

.menu {
  width: 100%;
  .menu-box {
    width: 100%;
    @include m.flex;
    justify-content: end;
    gap: 2rem;
    font-size: 1.5rem;

    .menu-title {
      position: relative;
      cursor: pointer;
      @include m.effect;

      &:hover {
        font-weight: 900;
      }
    }
  }
}

.sub-box {
  position: absolute;
  color: inherit;
  padding-top: 2rem;
  white-space: nowrap;

  opacity: 1;
  // opacity: 0;

  &.show {
    opacity: 1;
  }

  .sub-title {
    font-weight: 700;
    @include m.effect;
    margin-bottom: 2rem;

    &:hover {
      transform: scale(1.1);
      color: black;
    }
  }
}

.sub-sub {
  margin-top: 1rem;
  font-size: 1rem;

  .sub-sub-a {
    margin-bottom: 0.3rem;
    font-weight: 500;

    & > a:hover {
      font-weight: 700;
      @include m.color;
    }
  }
}
