@use "mixin" as m;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
body {
  background: var(--color-bg);
  overflow-x: hidden;
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}

a,
p,
h1,
h2,
h3,
li,
dt,
dd {
  color: var(--color-text);
}

// 헤더
#header {
  width: 100%;
  position: fixed;
  z-index: 50;
  background: var(--color-bg-trans);
  backdrop-filter: blur(20px);
  padding: 0 2rem;
  height: 84px;
  .header-box {
    @include m.flex-center;
    margin: 1.5rem 0;
    .tag {
      font-size: 1.1rem;
      display: inline-block;
    }
  }
}

.menu {
  width: 100%;
  z-index: 10;

  .menu-box {
    width: 100%;
    @include m.flex;
    justify-content: end;
    gap: 1rem;
    font-size: 1rem;

    @include m.desktop {
      gap: 1.5rem;
    }

    .menu-title {
      position: relative;
      cursor: pointer;
      white-space: nowrap;
      @include m.effect;

      &:hover {
        font-weight: 900;
      }
    }
  }
}

.sub-box {
  position: absolute;
  color: inherit;
  left: -2rem;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  @include m.effect;
  background: var(--color-card);
  padding: 1.5rem 2rem 1.5rem 2rem;
  margin-top: 1rem;
  border-radius: 20px;
  box-shadow: 1px 1px 20px #00000020;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  .sub-title {
    font-weight: 700;
    @include m.effect;
    margin-bottom: 2rem;

    &:hover {
      transform: scale(1.05);
      color: black;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
.sub-title-d {
  font-weight: 500;
}
.sub-sub {
  margin-top: 1rem;
  font-size: 1rem;

  .sub-sub-a {
    margin-bottom: 0.3rem;
    font-weight: 500;

    & > a:hover {
      font-weight: 700;
      @include m.color;
    }
  }
}
// .modeBtn {
//   border: none;
//   background: none;
//   cursor: pointer;
//   @include m.flex;
//   margin-left: -10px;
//   padding-top: 5px;
// }
// .modeBtn > img {
//   width: 25px;
//   height: 25px;
// }

.modeBtn {
  position: relative;
  z-index: 2;
  width: 64px;
  height: 34px;
  background: var(--color-back);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  border: none;
  cursor: pointer;
}

// .icons {
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
// }
.modeBtn img {
  width: 18px;
  height: 18px;
  position: relative;
  pointer-events: none;
  z-index: 5;
}
.light-icon {
  left: 4px;
  z-index: 50;
}
.dark-icon {
  right: 5px;
  z-index: 50;
}

.indicator {
  position: absolute;
  z-index: 5;
  width: 26px;
  height: 26px;
  background: var(--color-card);
  border-radius: 50%;
  top: 4px;
  left: 4px;
  transition: transform 0.3s ease;
}

/* 다크 모드일 때 indicator 이동 */
:root[data-theme="dark"] .indicator {
  transform: translateX(30px);
}
