@use "mixin" as m;

a,
p,
h1,
h2,
h3,
li,
dt,
dd {
  color: var(--color-text);
}

// 헤더
#header {
  @include m.layout;

  .header-box {
    @include m.flex-center;
    margin: 2rem 0;
    .tag {
      font-size: 1.1rem;
      display: inline-block;
    }
  }
}

.menu {
  width: 100%;
  z-index: 10;

  .menu-box {
    width: 100%;
    @include m.flex;
    justify-content: end;
    gap: 1rem;
    font-size: 1rem;

    @include m.desktop {
      gap: 1.5rem;
    }

    .menu-title {
      position: relative;
      cursor: pointer;
      @include m.effect;

      &:hover {
        font-weight: 900;
      }
    }
  }
}

.sub-box {
  position: absolute;
  color: inherit;
  left: -2rem;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  @include m.effect;
  background: var(--color-card);
  padding: 1.5rem 2rem 1.5rem 2rem;
  margin-top: 1rem;
  border-radius: 20px;
  box-shadow: 1px 1px 20px #00000020;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  .sub-title {
    font-weight: 700;
    @include m.effect;
    margin-bottom: 2rem;

    &:hover {
      transform: scale(1.05);
      color: black;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.sub-sub {
  margin-top: 1rem;
  font-size: 1rem;

  .sub-sub-a {
    margin-bottom: 0.3rem;
    font-weight: 500;

    & > a:hover {
      font-weight: 700;
      @include m.color;
    }
  }
}
.modeBtn {
  border: none;
  background: none;
  cursor: pointer;
  @include m.flex;
  margin-left: -10px;
  padding-top: 5px;
}
.modeBtn > img {
  width: 25px;
  height: 25px;
}
