@use "mixin" as m;
@use "fonts";
body {
  background: var(--color-bg);
  overflow-x: hidden;
}

// 최상위 컨테이너
.hero-container {
  width: 100%;
  height: calc(100vh - 7rem);
}

/* 히어로 영역 */
.hero {
  position: relative;
  width: 70vw;
  aspect-ratio: 16 / 11;
  @include m.center;
  top: 45%;
  cursor: pointer;

  @include m.desktop {
    width: 50vw;
    aspect-ratio: 16 / 10;
  }
}

/* 앞쪽 이미지 (원근감) */
.hero .front {
  position: absolute;
  width: 100%;
  aspect-ratio: 16 / 8;
  bottom: 0;
  @include m.flex-center;
  z-index: 3;

  @include m.desktop {
    aspect-ratio: 16 / 7;
  }
}

.hero .front::after {
  content: "";
  position: absolute;
  width: 100%; // 카드 너비
  height: 90%; // 카드 높이
  bottom: 0; // 아래쪽 기준
  background: var(--color-front);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  transform-origin: bottom center;
  transform: perspective(700px) rotateX(-15deg); // 사다리꼴/원근 느낌
  z-index: 1; // 이미지보다 뒤
  box-shadow: 1px 1px 20px rgba(50, 50, 50, 0.2);

  @include m.desktop {
    height: 90%; // 카드 높이
    transform: perspective(800px) rotateX(-10deg);
  }
}

/* 텍스트 박스 */
.profile-txt-box {
  position: absolute;
  width: 90%;
  aspect-ratio: 7 / 4.2;
  background: #f5f5f5;
  left: 50%;
  transform: translateX(-50%);
  bottom: 6%;
  z-index: 2;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  transform-style: preserve-3d;
  transform-origin: center center;

  @include m.desktop {
    width: 90%;
    aspect-ratio: 7.5 / 4;
    bottom: 7.5%;
  }
}

// 메인 폴더에 마우스 올리거나 클릭했을 시
.hero.active .profile-txt-box {
  transform: translateX(-50%) translateY(-50%) rotate(5deg);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
} //위치 변경되고 각도 변경되고 쉐도우 효과
.hero.active .profile-txt-box::after {
  content: "↓click!";
  color: red;
  position: absolute;
  top: -30px;
  right: 0;
} // 메인폴더 기준으로 텍스트 나타남

.hero.active .card-face.back2 {
  visibility: hidden;
} //도전하는 디자이너 어쩌고 사라짐
.hero.active .card-face.front2 {
  visibility: visible;
}

// .hero.active 실행된 후 한번 더 클릭 시
.profile-txt-box.top {
  transform: translateZ(10px) translateX(-50%) scale(1.5);
  z-index: 10;
}
.profile-txt-box.top .card-face.front2 {
  visibility: hidden;
}

.profile-txt-box.top .card-face.back2 {
  visibility: visible;
}
/* PROFILE 텍스트 */
.profile {
  position: absolute;
  text-align: center;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16.5vw;
  line-height: 1;
  white-space: nowrap;
  color: #111;

  @include m.desktop {
    top: -5px;
    font-size: 12vw;
  }
}

.profile::after {
  pointer-events: none;
  position: absolute;
  content: "💛";
  display: block;
  width: 100%;
  left: -62%;
  top: -30%;
  bottom: 0;
  transform: rotate(-15deg);
  text-shadow: 1px 1px 30px #00000010;
  @include m.floating(2.7s);
  transition: transform 0.6s ease;

  @include m.desktop {
    font-size: 12vw;
  }
}

.profile::before {
  pointer-events: none;
  position: absolute;
  content: "💥";
  display: block;
  width: 100%;
  right: -65%;
  top: 50%;
  bottom: 0;
  transform: rotate(-15deg);
  text-shadow: 1px 1px 30px #00000010;
  @include m.floating(2.8s);
  transition: transform 0.6s ease;
}

.hero.active .profile::after {
  animation: none;
  transform: translateX(28%) translateY(75%) rotate(-15deg);
  transition: transform 0.6s ease;
}

.hero.active .profile::before {
  animation: none;
  transform: translateX(-35%) rotate(-15deg);
  transition: transform 0.6s ease;
}

.profile-me {
  font-family: "Font02", cursive;
  position: absolute;
  left: 50%;
  transform: translateX(-60%);
  padding-top: 1.5rem;

  @include m.desktop {
    padding-top: 2rem;
  }
}

// 카드 뒷부분 텍스트
.card-face.back2 {
  visibility: hidden;
}
.card-face.back2 {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
.profile-back-box {
  padding-top: 1.5rem;
}
.profile-back-title {
  display: flex;
  flex-direction: column;
}
.profile-back {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #242424;
}
.profile-me-back {
  font-size: 3rem;
}
.profile-back-more {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: -2rem;
}
.profile-me-back-more {
  font-size: 3rem;
  text-shadow: 1px 2px 5px #31313120;
}
// .picture {
//   width: 400px;
//   background: red;
// }
.info-container {
  margin-top: 8rem;
}
.information-box {
  padding: 1rem 0;
}
.information {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.info-title {
  font-size: 0.6rem;

  padding-left: 0.1rem;
  color: #f5f5f5;
  background: #111;
}
.info-title.t {
  margin-bottom: -0.2rem;
}
.info-d {
  font-size: 0.8rem;
}
.use-skils {
  display: flex;
  flex-direction: column;
}
.use-skils-box {
  display: flex;
  justify-content: space-between;
}
/* 뒷배경 이미지 */
.hero .back {
  opacity: 0.7;
}
.hero .back::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 92%;
  bottom: 0;
  background: var(--color-back);
  border-radius: 0 10px 10px 10px;
  z-index: 1;
  @include m.desktop {
    height: 92%;
  }
}

.hero .back::before {
  content: "";
  position: absolute;
  width: 45%;
  height: 15%;
  top: 0;
  background: var(--color-back);
  border-radius: 10px 50px 0 0;
  z-index: 1;

  @include m.desktop {
    height: 10%;
    border-radius: 10px 100px 0 0;
  }
}
