@use "breakpoint" as bp;

@mixin mobile {
  @media (max-width: bp.$breakPoint-mobile) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: bp.$breakPoint-desktop) {
    @content;
  }
}

// 정렬 관련
@mixin flex {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin layout {
  width: 90%;
  margin: 0 auto;
}

@mixin center {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

//색상 관련
@mixin color {
  color: red;
}

//애니메이션
@mixin effect {
  transition: all 0.2s ease-in;
}
